/* a good place for any variables that should be available throughout all the styles. */
/* their names will remain the same unless the postcssVariablesPrefixer is enabled. */
:root {
}

.foo {
    .bar {
        color: red;
    }
}
